body {
    font-family: sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-image: url(junrey.jpeg);
    margin: 0;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.container {
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(15px);
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 90%;
    max-width: 500px;
}

.flashcard {
   margin-bottom: 20px;
   height: 350px;
}

#flashcard-inner {
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.is-flipped {
    transform: rotateY(180deg);
}

.flashcard-face {
    position: absolute;
    width: 100%;
    height: 106%;
    backface-visibility: hidden;
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
    background: rgba(255, 255, 255, 0.1);
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

.flashcard-back {
    background-color: rgba(255, 255, 255, 0.1);
    transform: rotateY(180deg);
}

.flashcard h2 {
color: white;
}

.choices-container button {
    background-color: #38fae0;
    margin: 10px;
    width: 400px;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    font-size: 19px;
    color: black;
    font-weight: 300;
    transition: background-color 0.3s ease;
}

.choices-container button:hover {
    background-color: #dae2eb;
}

.feedback.correct {
    color: green;
    font-size: 24px;
    font-weight: 600;
    text-align: center;
}

.feedback.incorrect {
    color: rgb(240, 7, 7);
    font-size: 24px;
    font-weight: 570;
    text-align: center;
}

#reset-button {
     background-color: #e4e719;
    color: #381e1e;
    height: 50px;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    position: absolute;
    bottom: 10px;  
    right: 10px;
    margin: 30px;
}

#reset-button:hover {
    background-color: #0056b3;
    color: #fff;
}